<div modal="showModal" close="cancel()" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Record <small>something!</small></h4>
            </div>
            <div class="modal-body">
                <form role="form" name="empModalForm">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" ng-model="empEditModel.firstname" class="form-control input-sm floatlabel" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" ng-model="empEditModel.lastname" class="form-control input-sm" placeholder="Last Name">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="email" ng-model="empEditModel.email" class="form-control input-sm" placeholder="Email Address">
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" ng-model="empEditModel.phone" class="form-control input-sm" placeholder="Phone No.">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" ng-model="empEditModel.address" class="form-control input-sm" placeholder="Address">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="clickObj.updateEmpInfo(empEditModel)">Update</button>
                <button class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
